/* https://newtodesing.com/
   v2.0 | 20110126
   License: none (public domain)
*/



/*Load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



/* Reset Styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	text-decoration: none;
	text-transform: none;
	color: #4A90E2;
}

body {
	line-height: 1;
	font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	background-color: #FEFEFE;
	color: #04143A;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	color: #15171a;
	font-size: 17;
	line-height: 31px;
}

strong {
	font-weight: 600;
}

div,
footer {
	box-sizing: border-box;
}

/* Reset ends */


/*Hero section*/

.container {
	max-width: 1100px;
	height: auto;
	margin: 3rem auto;
}

.hero {
	/*! margin: 0rem auto; */
	position: relative;
}

h1.name {
	font-size: 4.4rem;
	font-weight: 300;
	display: inline-block;
}

.job-title {
	vertical-align: top;
	background-color: #D9E7F8;
	color: #4A90E2;
	font-weight: 600;
	/*! margin-top: 5px; */
	margin-left: 1rem;
	border-radius: 0.5rem;
	display: inline-block;
	padding: 1rem;
}

.email {
	display: block;
	font-size: 1.5rem;
	font-weight: 300;
	color: #81899C;
	margin-top: 1rem;
}

.lead {
	font-size: 2.5rem;
	font-weight: 300;
	margin-top: 3rem;
	line-height: 55px;
}

/*hero ends*/

/*skills & intrests*/

.sections {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	/*! height: 50px; */
}

.section-title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.list-card {
	margin: 2rem 0;

	width: 50%;
	float: left;
	display: block;
}

.list-card .exp,
.list-card div {
	display: inline-block;

	vertical-align: top;
}

.footer {
	font-size: 1rem;
}

.text-differ {
	color: #4a90e6;
	font-weight: bold;
}

.list-card .exp {
	margin-right: 1;
	color: #4A90E2;
	font-weight: 600;
	width: 7rem;
	font-size: 1.2rem;
}

.list-card div {
	width: 70%;
}

.list-card h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #5B6A9A;
	line-height: 26px;
	margin-bottom: 1rem;
}

.list-card div span {
	font-size: 1.1rem;
	color: #81899C;
	line-height: 22px;
}

/*skill and intrests ends*/

/* Achievements */


.cards {
	/*! max-width: 1120px; */
	/*! display: block; */
	/*! margin-top: 338px; */
}

.card {
	width: 47.9%;
	height: 13rem;
	background-color: #EEF0F7;
	display: inline-block;
	margin: 0.5rem 0.5rem;
	vertical-align: top;
	border-radius: 0.5rem;
	text-align: center;
	padding-top: 3.5rem;
}

.card-active,
.card:hover {
	transform: scale(1.02);
	transition: 0.5s;
	background-color: #fff;
	box-shadow: 0px 5px 50px -8px #ddd;
	cursor: pointer;
}

.projects-cards {
	text-align: left;
	padding: 0 1rem;
	height: 15rem;
}

.skills-sets {
	display: flex;

	justify-self: start;
	align-items: start;

	flex-wrap: wrap;
}

.mr-top {
	margin-top: 10rem;
}

.skills-sets>div {

	display: block;
	background-color: #4a90e6;
	color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 0.5rem;
	font-size: 1rem;

	font-weight: bold;

	word-wrap: break-word;
	overflow-wrap: break-word;
}

.skills-tittle {
	font-size: 1.2rem;
	font-weight: 600;
	color: #04143A;
}

.skill-level {
	display: inline-block;
	max-width: 10rem;
}

.skill-level span {
	font-size: 2rem;
	font-weight: 300;
	color: #5B6A9A;
	vertical-align: top;
}

.skill-level h2 {
	font-size: 6.5rem;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	color: #5B6A9A;
	letter-spacing: -5px;
}

.sub-skill {
	color: #5B6A9A;
	margin-bottom: 5px;
	font-weight: bold;
}

.skill-meta {
	vertical-align: top;
	display: inline-block;
	max-width: 22rem;
	text-align: left;
	margin-top: 1rem;
	margin-left: 1rem;
}

.ch-width {
	margin-left: 0;
	max-width: 32rem;
}

.skill-meta h3 {
	font-size: 2rem;
	font-weight: 800;
	color: #5B6A9A;
	margin-bottom: 0.rem;
}

.skill-meta span {
	color: #81899C;
	line-height: 20px;
	font-size: 1rem;
}

/* Achievements ends */
.footer-icon>a {
	float: right;
	color: black;
	margin: 2px;
}


/* Timeline styles*/


ol {
	position: relative;
	display: block;
	margin: 100px 0;
	height: 2px;
	background: #EEF0F7;

}

ol::before,
ol::after {
	content: "";
	position: absolute;
	top: -10px;
	display: block;
	width: 0;
	height: 0;
	border-radius: 10px;
	border: 0px solid #31708F;
}

ol::before {
	left: -5px;
}

ol::after {
	right: -10px;
	border: 0px solid transparent;
	border-right: 0;
	border-left: 20px solid #31708F;
	border-radius: 3px;
}

/* ---- Timeline elements ---- */
li {
	position: relative;
	display: inline-block;

	width: 33%;
	height: 50px;
}

li .line {
	position: absolute;
	top: -47px;
	left: 0;
	font-size: 1.2rem;
	font-weight: 600;
	color: #04143A;
}

.line .exp {
	color: #4A90E2;
}

li .point {
	content: "";
	top: -7px;
	left: 0%;
	display: block;
	width: 8px;
	height: 8px;
	border: 4px solid #fff;
	border-radius: 10px;
	background: #4A90E2;
	position: absolute;
}

li .description {
	display: none;
	padding: 10px 0;
	margin-top: 20px;
	position: relative;
	font-weight: normal;
	z-index: 1;
	max-width: 95%;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 25px;
	color: #5B6A9A;
}

.description::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #f4f4f4;
	position: absolute;
	top: -5px;
	left: 43%;
}


.timeline .date {
	font-size: 1rem;
	color: #81899C;
	font-weight: 300;
}

/* ---- Hover effects ---- */
li:hover {
	color: #48A4D2;
}

li .description {
	display: block;
}

#m-experience,
#m-education {
	display: none;
}

#timeline {
	display: block;
}

.m-container {
	margin-top: initial;
}

/*timeline ends*/



/* Media queries*/

@media(max-width: 1024px) {
	.container {
		padding: 1rem;
		margin: 0px auto;
	}

	.cards {
		margin-top: 250px;
	}
}


@media(max-width: 768px) {
	.container {
		padding: 1rem;
		margin: 0px auto;
	}

	.cards {
		margin-top: 320px;
	}

	.card {
		padding: 1rem;
		text-align: left;
	}

	.card h2 {
		font-size: 4rem;
	}

	.card,
	.sections {
		width: 100%;
		height: auto;
		margin: 1rem auto;


	}



	.timeline {
		border: none;
		background-color: rgba(0, 0, 0, 0);
	}

	.timeline li {
		margin-top: 70px;
		height: 150px;
	}
}


@media screen and (max-width: 424px) {
	h1.name {
		font-size: 4rem;
	}

	#m-experience,
	#m-education {
		display: block;
	}


	#timeline,
	#timeline2 {
		display: none;
	}


	.card,
	.sections {
		width: 100%;
		height: auto;
		margin: 0 0 1rem 0;
		/* margin: 1rem auto; */
		/* float: left; */
	}


	.job-title {
		position: absolute;
		font-size: 1rem;
		top: 0px;
		right: 20px;
		padding: 10px
	}

	.skill-meta {
		margin-left: 0;
	}

	.list-card {
		width: 100%;
		/*! padding: 0rem; */
		margin: 1rem auto;
	}

	.list-card>div {
		width: 100%;
	}

	.lead {
		margin-top: 15px;
		font-size: 1.2rem;
		line-height: 28px;
	}

	.container {
		margin: 2.5rem auto;
		padding: 0 1rem;
	}

	.m-container {
		margin-top: 24rem;
	}

	.mr-top {
		margin-top: 1rem;
	}

	footer {
		margin-top: 2050px;
	}
}


/* End of all :P*/